.content // For screens < 768px
  margin-left 2%
  margin-right 2%

@media (min-width 768px)
  .content
    margin-left 8%
    margin-right 8%

@media (min-width 1200px)
  .content
    margin-left 16%
    margin-right 16%

@media (min-width 1500px)
  .content
    margin-left 24%
    margin-right 24%

@media (max-width 992px)
  .skills
    margin 0 30%

@media (max-width 768px)
  .skills
    margin 0 20%

@media (max-width 500px)
  .skills
    margin 0 10%

.progress
  background-color #d8d8d8
  height .7rem
