nav a,
nav a:hover,
nav a:focus
  border-bottom none

.navbar-toggle,
.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active
  background-color #fff !important
  border-bottom none

.icon-bar
  background-color #333 !important

#navbar a
  color #333 !important

  &:hover
    color #18bc9c !important

  &:active
    color #000 !important

#navbar a,
.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus,
  border-bottom none

.navbar
  box-shadow 0 0 .25rem #000

.navbar a
  box-shadow none !important

@media (min-width 1200px) // Large navbar margin for large screens
  .navbar-brand
    margin-left 5rem !important

.navbar-brand
  color #18bc9c !important
  font-family "Roboto Bold", sans-serif
  &:hover,
  &:active
    color #000 !important
